
<div class="card col-md-6">
  <img class="card-img-top" src="../assets/images/newUser.png" alt="Card image cap" style="margin-top: 100px">
  <div class="card-block" data-id={{user.id}}>
    <h4 class="card-title insert-username">{{user.username}}</h4>
<!--     <p class="card-text">
      Some quick example text to build on the card title
      and make up the bulk of the card's content.
    </p> -->
  </div>

    <div class="container" style="margin-top: 35px">
     <h1 style="" class="searchResults">My Reviews</h1>

{{#each review}}
{{#if this._id}}

        <div class="card col-md-6" id="daterDiv" style="padding: 30px; text-align: center">

           {{!--  <img class="card-img-top" src="{{this.image}}">
              <div class="card-block">
              <p style="font-size: 15px" class="card-title">{{this.username}}</p>
              <p style="font-size: 15px" class="card-title">{{this.location}}</p>
              <p style="font-size: 15px" class="card-title">{{this.age}}</p>

              <a data-id="{{this._id}}" class="btn btn-primary">Write Review!</a>
              </div> --}}

        </div>
  {{/if}}
 {{/each}}


        </div>

</div>

<div class="jumbotron col-md-6" style="margin-top: 100px">
  <h1 class="display-3" style="text-align: center">Welcome<br/> to<br/>The LowDwn.</h1>
  {{!-- <p class="lead">What is <span class="theLowDwn">The LowDwn?</span></p> --}}
  <hr class="my-2">
  <p><span class="theLowDwn">The LowDwn</span> is an application designed to provide online daters objective reviews of other daters on OkCupid. You'll be asked a series of questions to give other daters <span class="theLowDwn">The LowDwn.</span> on your experiences. The idea is not to slander daters, but to prevent hearts from being broken or help you find your one true love!
</p>

<ul class="useCases-ul"> You can use <span class="theLowDwn">The Lowdwn.</span> to:

<li class="useCases"><a href="/myAccount/read">Read reviews</a> of other daters (or even those about you!),</li>
<li class="useCases"><a href="/myAccount/search">Write reviews</a> about past or current daters, or...</li>
<li class="useCases"><a href="/myAccount/blog">Give us <span class="theLowDwn">The LowDwn.</span></a> on your dating experiences. We want to hear your stories!</li>

</ul>

<p>Love, <span class="theLowDwn">The LowDwn. Team</span></p>

</div>




