
<div class="card col-md-6">
  <img class="card-img-top" src="../assets/images/okcupid.png" alt="Card image cap" style="margin-top: 100px">
  <div class="card-block" data-id={{user.id}}>
    <h2 class="card-title insert-username">Read some stories:  {{user.name}}!</h2>
<!--     <p class="card-text">
      Some quick example text to build on the card title
      and make up the bulk of the card's content.
    </p> -->


{{!-- adding in a temp div just to see if stories work and no page set up yet --}}
  <div class="container col-md-6" style="margin-top: 35px">
     <h1 style="" class="storyResults">Dating Stories</h1>


        <div class="col-md-6" id="storyDiv" style="padding: 30px; text-align: center">

            <h2 class="title">{{story.title}}</h4>
            <h4 class="category">Category: {{story.category}}</h4>

            <p class="story">{{story.story}}</p>

        </div>

  </div>
{{!-- end of temp div for testing dating stories --}}





</div>


</div>




